/* for all pages */
html{
    scroll-behavior: smooth;
}

.skip a {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a:focus {
    top: 0px;
}

body {
    background-color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
    color: #24305E;
}

a {
    text-decoration: underline;
    color: #24305E;
}

p {
    padding: 5px;
    font-size: 18px;
}

footer {
    text-align: center;
    background-color: #2B2B2B;
    color: whitesmoke;
    line-height: 15px;
}

footer p {
    text-align: center;
}

/* navigation */
.all-nav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 180px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #2B2B2B; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    /* margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    background-color: #2B2B2B; */
}

.all-nav li a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
    display: block;
    border-bottom: 1px dotted whitesmoke;
    /* display: inline-block;
    color: whitesmoke;
    padding: 14px 16px;
    text-decoration: none; */
}

.all-nav li {
    text-decoration: none;
    font-size: 15px;
    /* color: white; */
    /* text-align: center; */
    display: inline;
}

nav a:hover {
    text-decoration: none;
    background: #24305E;
    text-align: center;
}

.current {
    background-color: #24305E;
}

.all-nav img {
    max-height: 150px;
    max-width: 180px;
}

.all-header img:hover {
    opacity: 90%;
}

.all-header {
    text-align: center;
    background-color: #2B2B2B;
}

h1 {
    font-size: 40px;
    /* padding: 15px; */
}

h2 {
    font-size: 30px;
    padding: 5px;
    text-align: center;
}

h3 {
    font-size: 20px;
    padding: 5px;
    /* color: white; */
    text-align: center;
}

/* all pages */

.container {
    display: grid;
    grid-template-columns: 160px .2fr 1fr 1fr .2fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 100vw;
}

/* index page desktop */
.intro {
    grid-column: 3 / span 2;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

.intro img {
    width: 50%;
    height: 50%;
}

.c1 {
    padding: 2px 16px;
}

.intro p {
    font-size: 25px;
}

.sample {
    grid-column: 3 / span 2;
}

.sample p {
    font-size: 23px;
    text-align: center;
}

/* deloitte page */


.step1 {
    grid-column: 3;
}
.p1-image {
    grid-column: 4;
}
.p1-image img{
    width: 70%;
    height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.step4 {
    grid-column: 3;
}
.p4-image {
    grid-column: 4;
}

.p4-image img {
    width: 70%;
    height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}


/* index */
.one {
    grid-column: 3 /span 2;
}
.one img {
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #24305E;
}
.three {
    grid-column: 3 /span 2;
}
.three img {
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #24305E;
}
.two {
    grid-column: 3 /span 2;
}
.two img {
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #24305E;
}
.four {
    grid-column: 3 /span 2;
}
.four img {
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #24305E;
}

.title {
    grid-column: 3 / span 2;
}

h4 {
    text-align: center;
    font-size: 24px;
    padding: 5px;
}

.p2-image{
    grid-column: 4;
}

.p2-image img {
    width: 70%;
    height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.step2 {
    grid-column: 3;
}

.step3 {
    grid-column: 3;
}

.before {
    grid-column: 3;
}

.before img {
    max-width: 90%;
    padding: 10px;
}

.after {
    grid-column: 4;
}

.after img {
    max-width: 90%;
    padding: 10px;
}

.resume {
    grid-column: 3 / span 2;
    text-align: center;
}
input {
    min-height: 50px;
    min-width: 300px;
}

.message{
    min-height: 300px;
    min-width: 300px;
}